page-connect {
    ion-content{
        background-color: orange !important;
    }
}

.image-div{
    height: 30px;
    width: 50px;
    top: 2000px;
    bottom: 20px;
    left: 10px;
    right:10px;
}

.html{
    color: teal;
}

.div1{
    top: 70px;
}


.button{
    left: 40px;
}

